.title {
    justify-self: center;
    font-size: clamp(1rem, 4vw, 5rem);
    margin: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.playlist {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    padding: 20px 0;
    border: 1px solid #000;
    width: 60rem;
    border-radius: 50px;
}

.input {
    border: none; /* Remove border */
    background: none; /* Remove background */
    outline: none; /* Remove outline */
    padding: 0.5rem 2rem; /* Add padding for better spacing */
    font-size: 1.5rem; /* Adjust font size */
    text-align: left; /* Align text to the left */
    width: 100%; /* Ensure the input takes up the full width */
}

.input::placeholder {
    text-align: left; /* Align placeholder text to the left */
}

.button {
    border: none; /* Remove border */
    background: none; /* Remove background */
    outline: none; /* Remove outline */
    padding: 0.5rem 1rem; /* Add padding for better spacing */
    font-size: 1.5rem; /* Adjust font size */
    cursor: pointer; /* Change cursor to pointer */
}